[packages]
pytest-dotenv = "*"
pytest-xdist = "*"
pytest-cs = {ref = "0.7.16", git = "https://github.com/crowdsecurity/pytest-cs.git"}

[dev-packages]
gnureadline = "*"
ipdb = "*"

[requires]
python_version = "*"
