[packages]
pytest-dotenv = "0.5.2"
pytest-xdist = "3.5.0"
pytest-cs = {ref = "0.7.18", git = "https://github.com/crowdsecurity/pytest-cs.git"}

[dev-packages]
gnureadline = "8.1.2"
ipdb = "0.13.13"

[requires]
python_version = "*"
