[packages]
pytest-dotenv = "*"
pytest-xdist = "*"
pytest-cs = {ref = "0.2.0", git = "https://github.com/crowdsecurity/pytest-cs.git"}

[dev-packages]
gnureadline = "*"
ipdb = "*"

[requires]
python_version = "3.10"
