# We include .git in the build context because excluding it would break the
# "make release" target, which uses git to retrieve the build version and tag.
#.git

/build
!/build/deps
!/build/docker
!/build/mk
/debian
/rpm
/test
/crowdsec-v*
