# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*~
.pc
.vscode

# Test binaries, built with `go test -c`
*.test
*.cover

# Test binaries, built from *_test.go
pkg/csplugin/tests/cs_plugin_test*

# Output of go-acc
*.out

# Development artifacts, backups, etc
*.swp
*.swo

# Dependency directories (remove the comment below to include it)
# vendor/

# crowdsec binaries
cmd/crowdsec-cli/cscli
cmd/crowdsec/crowdsec
plugins/notifications/http/notification-http
plugins/notifications/slack/notification-slack
plugins/notifications/splunk/notification-splunk
plugins/notifications/email/notification-email
plugins/notifications/dummy/notification-dummy

# Test cache (downloaded files)
.cache

# Release stuff
crowdsec-v*
pkg/cwhub/hubdir/.index.json
msi
*.msi
**/*.nupkg
*.tgz

# Python
__pycache__
*.py[cod]
*.egg-info
