<html>
<script type="module">
        {{ .FPScript }}

        const scanner = new FingerprintScanner();
        const result = scanner.collectFingerprint();
        console.log('Fingerprint result:', result);
        fetch(window.location.origin,  {
          // Send the fingerprint in a `fingerprint` field
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: new URLSearchParams({ fingerprint: result })
        }).then(response => response.text())
          .then(data => console.log('Server response:', data))
          .catch(error => console.error('Error submitting fingerprint:', error));
    </script>
</html>