---

# Main block defining all service detection rules
detect:

  # Detect apache2 on Debian-based systems
  apache2-systemd-deb:
    # all conditions must evaluate to true
    when:
      # check if apache2 is in "systemctl list-unit-files --state=enabled,generated,static"
      - Systemd.UnitEnabled("apache2.service")
      # broad distribution category (use OS.ID to disambiguate "ubuntu" from "debian")
      - Path.Exists("/etc/debian_version")
    hub_spec:
      # If the rules match, install the following items
      collections:
        - crowdsecurity/apache2
    acquisition_spec:
      # If the rules match, generate an acquisition file named "setup.apache2.yaml"
      filename: apache2.yaml
      datasource:
        source: file
        filenames:
          - /var/log/apache2/*.log
        labels:
          type: apache2

  # Detect apache2 on rpm-based systems
  apache2-systemd-rpm:
    when:
      - Systemd.UnitEnabled("httpd.service")
      - Path.Exists("/etc/redhat-release")
    hub_spec:
      collections:
        - crowdsecurity/apache2
    acquisition_spec:
      filename: apache2.yaml
      datasource:
        source: file
        filenames:
          - /var/log/httpd/*.log
        labels:
          type: apache2

  # Asterisk PBX
  asterisk-systemd:
    when:
      - Systemd.UnitEnabled("asterisk.service")
    hub_spec:
      collections:
        - crowdsecurity/asterisk
    acquisition_spec:
      filename: asterisk.yaml
      datasource:
        source: file
        labels:
          type: asterisk
        filenames:
          - /var/log/asterisk/*.log

  # Caddy web server
  caddy-systemd:
    when:
      - Systemd.UnitEnabled("caddy.service")
    hub_spec:
      collections:
        - crowdsecurity/caddy
    acquisition_spec:
      filename: caddy.yaml
      datasource:
        source: file
        labels:
          type: caddy
        filenames:
          - /var/log/caddy/*.log

  # Dovecot IMAP/POP3 server
  dovecot-systemd:
    when:
      - Systemd.UnitEnabled("dovecot.service")
    hub_spec:
      collections:
        - crowdsecurity/dovecot
    acquisition_spec:
      filename: dovecot.yaml
      datasource:
        source: file
        labels:
          type: dovecot
        filenames:
          - /var/log/mail.log

  # Emby media server
  emby-systemd:
    when:
      - Systemd.UnitEnabled("emby-server.service")
    hub_spec:
      collections:
        - LePresidente/emby
    acquisition_spec:
      filename: emby.yaml
      datasource:
        source: file
        labels:
          type: emby
        filenames:
          - /var/log/embyserver.txt

  # Endlessh SSH tarpit
  endlessh-systemd:
    when:
      - Systemd.UnitEnabled("endlessh.service")
    hub_spec:
      collections:
        - crowdsecurity/endlessh
    acquisition_spec:
      filename: endlessh.yaml
      datasource:
        source: journalctl
        labels:
          type: endlessh
        # XXX this? or /var/log/syslog?
        journalctl_filter:
          - "_SYSTEMD_UNIT=endlessh.service"

  # Gitea Git server (XXX untested)
  gitea-systemd:
    when:
      - Systemd.UnitEnabled("gitea.service")
    hub_spec:
      collections:
        - crowdsecurity/gitea
    acquisition_spec:
      filename: gitea.yaml
      datasource:
        source: file
        labels:
          type: gitea
        filenames:
          - /var/log/gitea.log

  # HAProxy load balancer
  haproxy-systemd:
    when:
      - Systemd.UnitEnabled("haproxy.service")
    hub_spec:
      collections:
        - crowdsecurity/haproxy
    acquisition_spec:
      filename: haproxy.yaml
      datasource:
        source: file
        labels:
          type: haproxy
        filenames:
          - /var/log/haproxy/*.log

  # MariaDB server
  mariadb-systemd:
    when:
      - Systemd.UnitEnabled("mariadb.service")
    hub_spec:
      collections:
        - crowdsecurity/mariadb
    acquisition_spec:
      filename: mariadb.yaml
      datasource:
        source: file
        labels:
          type: mysql
        filenames:
          - /var/log/mysql/error.log

  # MySQL server
  mysql-systemd:
    when:
      - Systemd.UnitEnabled("mysql.service")
    hub_spec:
      collections:
        - crowdsecurity/mysql
    acquisition_spec:
      filename: mysql.yaml
      datasource:
        source: file
        labels:
          type: mysql
        filenames:
          - /var/log/mysql/error.log

  # Nginx
  nginx-systemd:
    when:
      - Systemd.UnitEnabled("nginx.service")
    hub_spec:
      collections:
        - crowdsecurity/nginx
    acquisition_spec:
      filename: nginx.yaml
      datasource:
        source: file
        labels:
          type: nginx
        filenames:
          - /var/log/nginx/*.log

  # OpenResty (nginx distribution)
  openresty-systemd:
    when:
      - Systemd.UnitEnabled("openresty.service")
    hub_spec:
      collections:
        - crowdsecurity/nginx
    acquisition_spec:
      filename: openresty.yaml
      datasource:
        source: file
        labels:
          type: nginx
        filenames:
          - /usr/local/openresty/nginx/logs/*.log

  # Odoo ERP
  odoo-systemd:
    when:
      - Systemd.UnitEnabled("odoo.service")
    hub_spec:
      collections:
        - crowdsecurity/odoo
    acquisition_spec:
      filename: odoo.yaml
      datasource:
        source: file
        labels:
          type: odoo
        filenames:
          - /var/log/odoo/*.log

  # This only works on deb-based systems. On other distributions, the
  # application is run from the release tarball and the log location depends on
  # the location it's run from.

  # Ombi media request system
  ombi-systemd:
    when:
      - Systemd.UnitEnabled("ombi.service")
      - Path.Exists("/etc/debian_version")
    hub_spec:
      collections:
        - LePresidente/ombi
    acquisition_spec:
      filename: ombi.yaml
      datasource:
        source: file
        labels:
          type: ombi
        filenames:
          - /var/log/ombi/log-*.txt

  # PostgreSQL (deb)
  pgsql-systemd-deb:
    when:
      - Systemd.UnitEnabled("postgresql.service")
      - Path.Exists("/etc/debian_version")
    hub_spec:
      collections:
        - crowdsecurity/pgsql
    acquisition_spec:
      filename: pgsql.yaml
      datasource:
        source: file
        labels:
          type: postgres
        filenames:
          - /var/log/postgresql/*.log

  # PostgreSQL (rpm)
  pgsql-systemd-rpm:
    when:
      - Systemd.UnitEnabled("postgresql.service")
      - Path.Exists("/etc/redhat-release")
    hub_spec:
      collections:
        - crowdsecurity/pgsql
    acquisition_spec:
      filename: pgsql.yaml
      datasource:
        source: file
        labels:
          type: postgres
        filenames:
          - /var/lib/pgsql/data/log/*.log

  # Postfix mail server
  postfix-systemd:
    when:
      - Systemd.UnitEnabled("postfix.service")
    hub_spec:
      collections:
        - crowdsecurity/postfix
    acquisition_spec:
      filename: postfix.yaml
      datasource:
        source: file
        labels:
          type: syslog
        filenames:
          - /var/log/mail.log

  # ProFTPD FTP server
  proftpd-systemd:
    when:
      - Systemd.UnitEnabled("proftpd.service")
    hub_spec:
      collections:
        - crowdsecurity/proftpd
    acquisition_spec:
      filename: proftpd.yaml
      datasource:
        source: file
        labels:
          type: proftpd
        filenames:
          - /var/log/proftpd/*.log

  # Pure-FTPd server
  pureftpd-systemd:
    when:
      - Systemd.UnitEnabled("pure-ftpd.service")
    hub_spec:
      collections:
        - fulljackz/pureftpd
    acquisition_spec:
      filename: pureftpd.yaml
      datasource:
        source: file
        labels:
          type: pure-ftpd
        filenames:
          - /var/log/pure-ftpd/*.log

  # Samba server
  smb-systemd:
    when:
      # deb -> smbd.service
      # rpm -> smb.service
      - Systemd.UnitEnabled("smbd.service") or Systemd.UnitEnabled("smb.service")
    hub_spec:
      collections:
        - crowdsecurity/smb
    acquisition_spec:
      filename: smb.yaml
      datasource:
        source: file
        labels:
          type: smb
        filenames:
          - /var/log/samba*.log

  ###
  # SSH daemon
  #

  ssh-systemd-file:
    when:
      - Systemd.UnitEnabled("ssh.service") or Systemd.UnitEnabled("ssh.socket")
      - Path.Exists("/var/log/auth.log")
    hub_spec:
      collections:
        - crowdsecurity/sshd
    acquisition_spec:
      filename: sshd.yaml
      datasource:
        source: file
        labels:
          type: syslog
        filenames:
          - /var/log/auth.log
          - /var/log/sshd.log
          - /var/log/secure

  sshd-systemd-file:
    when:
      - Systemd.UnitEnabled("sshd.service") or Systemd.UnitEnabled("sshd.socket")
      - Path.Exists("/var/log/auth.log")
    hub_spec:
      collections:
        - crowdsecurity/sshd
    acquisition_spec:
      filename: sshd.yaml
      datasource:
        source: file
        labels:
          type: syslog
        filenames:
          - /var/log/auth.log
          - /var/log/sshd.log
          - /var/log/secure

  ssh-systemd-journalctl:
    when:
      - Systemd.UnitEnabled("ssh.service") or Systemd.UnitEnabled("ssh.socket")
      - not Path.Exists("/var/log/auth.log")
    hub_spec:
      collections:
        - crowdsecurity/sshd
    acquisition_spec:
      filename: sshd.yaml
      datasource:
        source: journalctl
        labels:
          type: syslog
        journalctl_filter:
          - "_SYSTEMD_UNIT=ssh.service"

  sshd-systemd-journalctl:
    when:
      - Systemd.UnitEnabled("sshd.service") or Systemd.UnitEnabled("sshd.socket")
      - not Path.Exists("/var/log/auth.log")
    hub_spec:
      collections:
        - crowdsecurity/sshd
    acquisition_spec:
      filename: sshd.yaml
      datasource:
        source: journalctl
        labels:
          type: syslog
        journalctl_filter:
          - "_SYSTEMD_UNIT=sshd.service"

  #
  #
  ###

  # Suricata IDS/IPS
  suricata-systemd:
    when:
      - Systemd.UnitEnabled("suricata.service")
    hub_spec:
      collections:
        - crowdsecurity/suricata
    acquisition_spec:
      filename: suricata.yaml
      datasource:
        source: file
        labels:
          type: suricata-evelogs
        filenames:
          - /var/log/suricata/eve.json

  # vsftpd FTP server
  vsftpd-systemd:
    when:
      - Systemd.UnitEnabled("vsftpd.service")
    hub_spec:
      collections:
        - crowdsecurity/vsftpd
    acquisition_spec:
      filename: vsftpd.yaml
      datasource:
        source: file
        labels:
          type: vsftpd
        filenames:
          - /var/log/vsftpd/*.log

  # if you do this, do it at home (not in production)
  telnet:
    when:
      - len(Path.Glob("/var/log/telnetd*.log")) > 0
    hub_spec:
      scenarios:
        - crowdsecurity/telnet-bf
    acquisition_spec:
      filename: telnet.yaml
      datasource:
        source: file
        labels:
          type: telnet
        filenames:
          - /var/log/telnetd*.log

  #
  # Operating System detection
  #

  linux:
    when:
      - OS.Family == "linux"
    hub_spec:
      collections:
        - crowdsecurity/linux
    acquisition_spec:
      filename: linux.yaml
      datasource:
        source: file
        labels:
          type: syslog
        filenames:
          - /var/log/syslog
          - /var/log/kern.log
          - /var/log/messages

  freebsd:
    when:
      - OS.Family == "freebsd"
    hub_spec:
      collections:
        - crowdsecurity/freebsd

  windows:
    when:
      - OS.Family == "windows"
    hub_spec:
      collections:
        - crowdsecurity/windows

  # anti-lockout
  whitelists:
    hub_spec:
      parsers:
        - crowdsecurity/whitelists
