working_dir: "."
data_dir: "./data"
config_dir: "./config"
pid_dir: "./"
cscli_dir: "./config/crowdsec-cli"
log_dir: "./logs"
log_mode: "stdout"
log_level: info
profiling: false
apimode: false
plugin:
  backend: "./config/plugins/backend"
  max_records: 10000
  max_records_age: 60d
  