common:
  daemonize: false
  pid_dir: /tmp/
  log_media: stdout
  log_level: info
  working_dir: .
prometheus:
  enabled: true
  level: full
# hub:
#   hub_dir: ./config/crowdsec-cli/hub
#   hub_index_file: ./config/crowdsec-cli/hub/.index.json
#   install_dir: ./config/
crowdsec_service:
  acquisition_path: ./config/acquis.yaml
  parser_routines: 1
  simulation_path: ./config/simulation.yaml
  config_dir: ./config
  data_dir: ./data/
cscli:
  hub_dir: ./config/crowdsec-cli/hub
  output: human
  index_path: ./config/crowdsec-cli/.index.json
  install_dir: ./config/
  data_dir: ./data/
localapi_service:
  listen_uri: 127.0.0.1:8080
api_client:
  credentials_path: ./lapi-secrets.yaml
online_api_client:
  credentials_path: ./online-api-secrets.yaml
db_config:
  type: sqlite
  db_path: ./crowdsec.db
  user: root
  password: crowdsec
  db_name: crowdsec
  host: "172.17.0.2"
  port: 3306