-i https://pypi.org/simple/
click==7.1.1
future==0.18.2
jinja2==2.11.1
joblib==0.14.1
livereload==2.6.1
lunr[languages]==0.5.6
markdown==3.2.1
markupsafe==1.1.1
mkdocs-material==4.6.3
mkdocs==1.1
mkdocs-macros-plugin==0.4.6
nltk==3.5b1
prompt-toolkit==3.0.5
pygments==2.6.1
pymdown-extensions==7.0rc1
python-markdown-math==0.6
pyyaml==5.3.1
regex==2020.2.20
six==1.14.0
tornado==6.0.4
tqdm==4.43.0
wcwidth==0.1.9

