name: check acquisition datasource
on:
  push:
    branches:
      - master
      - docker/schema
  pull_request:
    branches:
      - master

jobs:
  hub-validation:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v3
      - name: transform to json all datasource schema
        uses: mikefarah/yq@master
        with:
          cmd: find . -path ./pkg/acquisition -prune -o -name "*"schema.yaml -exec sh -c 'yq  -o=json {} > $(dirname {})/$(basename {} .yaml).json' \;
      - name: split hub YAML to per-doc JSON (no jq)
        uses: mikefarah/yq@master
        with:
          cmd: |
            set -eu
            # iterate all YAMLs except .tests
            find hub -path ./pkg/acquisition/schema/valid -path ./pkg/acquisition/schema/invalid  -prune -name '*json' -exec rm {} \;
            for f in $(find hub -path /pkg/acquisition/schema/valid   -path /pkg/acquisition/schema/invalid -prune -o -name '*yaml' -print); do
            base="${f%.yaml}"  # trim .yaml
            i=0
            while : ; do
               out="${base}.${i}.json"
               # select one YAML document by index (0-based) and write it
               yq -o=json 'select(documentIndex == '"$i"')' "$f" > "$out"
               # empty file => no more docs, clean up and stop
               if [ ! -s "$out" ]; then rm -f "$out"; break; fi
               i=$((i+1))
               done
               echo "split $f -> ${i} JSON doc(s)"
            done
      - name: validate datasources against schemas
        run: |
          go install github.com/santhosh-tekuri/jsonschema/cmd/jv@latest
          for ITEM in ./pkg/acquisition/schema/valid/*.json; do echo $ITEM &&  ~/go/bin/jv parser_schema.json $ITEM ; done
