name: Functional tests with PostgreSQL

on:
  workflow_call:
    secrets:
      DATABASE_PASSWORD:
        required: true

jobs:
  build:
    name: "Build + tests"
    runs-on: ubuntu-latest
    timeout-minutes: 20
    services:
      database:
        image: postgres:latest
        env:
          POSTGRES_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready -u postgres
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:

    - name: "Force machineid"
      run: |
          sudo chmod +w /etc/machine-id
          echo githubciXXXXXXXXXXXXXXXXXXXXXXXX | sudo tee /etc/machine-id

    - name: "Set up Go 1.17"
      uses: actions/setup-go@v3
      with:
        go-version: 1.17
      id: go

    - name: "Clone CrowdSec"
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        submodules: true

    - name: "Install bats dependencies"
      run: |
        sudo apt install -y -qq build-essential daemonize jq netcat-openbsd
        go install github.com/mikefarah/yq/v4@latest
        go install github.com/cloudflare/cfssl/cmd/cfssl@latest
        go install github.com/cloudflare/cfssl/cmd/cfssljson@latest
        sudo cp -u ~/go/bin/yq /usr/local/bin/
        sudo cp -u ~/go/bin/cfssl /usr/local/bin
        sudo cp -u ~/go/bin/cfssljson /usr/local/bin

    - name: "Build crowdsec and fixture (DB_BACKEND: pgx)"
      run: make clean bats-build bats-fixture
      env:
        DB_BACKEND: pgx
        PGHOST: 127.0.0.1
        PGPORT: 5432
        PGPASSWORD: ${{ secrets.DATABASE_PASSWORD }}
        PGUSER: postgres

    - name: "Run tests (DB_BACKEND: pgx)"
      run: make bats-test
      env:
        DB_BACKEND: pgx
        PGHOST: 127.0.0.1
        PGPORT: 5432
        PGPASSWORD: ${{ secrets.DATABASE_PASSWORD }}
        PGUSER: postgres

    - name: "Build crowdsec and fixture (DB_BACKEND: postgres)"
      run: make clean bats-build bats-fixture
      env:
        DB_BACKEND: postgres
        PGHOST: 127.0.0.1
        PGPORT: 5432
        PGPASSWORD: ${{ secrets.DATABASE_PASSWORD }}
        PGUSER: postgres

    - name: "Run tests (DB_BACKEND: postgres)"
      run: make bats-test
      env:
        DB_BACKEND: postgres
        PGHOST: 127.0.0.1
        PGPORT: 5432
        PGPASSWORD: ${{ secrets.DATABASE_PASSWORD }}
        PGUSER: postgres

    - name: "Show database logs"
      run: docker logs "${{ job.services.database.id }}"
      if: ${{ always() }}

