name: (sub) Bats / Hub

on:
  workflow_call:
    secrets:
      GIST_BADGES_SECRET:
        required: true
      GIST_BADGES_ID:
        required: true

jobs:
  build:

    name: "Functional tests"
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:

    - name: "Force machineid"
      run: |
          sudo chmod +w /etc/machine-id
          echo githubciXXXXXXXXXXXXXXXXXXXXXXXX | sudo tee /etc/machine-id

    - name: "Check out CrowdSec repository"
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0
        submodules: true

    - name: "Set up Go"
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version-file: go.mod

    - name: "Install bats dependencies"
      env:
        GOBIN: /usr/local/bin
      run: |
        sudo apt -qq -y -o=Dpkg::Use-Pty=0 install build-essential daemonize jq libre2-dev

    - name: "Build crowdsec and fixture"
      run: make bats-clean bats-build bats-fixture BUILD_STATIC=1

    - name: "Run hub tests"
      run: |
          PATH=$(pwd)/test/local/bin:$PATH
          ./test/instance-data load
          git clone --depth 1 https://github.com/crowdsecurity/hub.git ./hub
          cd ./hub
          cscli hubtest run --all --clean --max-jobs 4

    - name: "Collect hub coverage"
      run: ./test/bin/collect-hub-coverage ./hub >> $GITHUB_ENV

    - name: "Create Parsers badge"
      uses: schneegans/dynamic-badges-action@e9a478b16159b4d31420099ba146cdc50f134483 # v1.7.0
      if: ${{ github.ref == 'refs/heads/master' && github.repository_owner == 'crowdsecurity' }}
      with:
        auth: ${{ secrets.GIST_BADGES_SECRET }}
        gistID: ${{ secrets.GIST_BADGES_ID }}
        filename: crowdsec_parsers_badge.json
        label: Hub Parsers
        message: ${{ env.PARSERS_COV }}
        color: ${{ env.PARSERS_BADGE_COLOR }}

    - name: "Create Scenarios badge"
      uses: schneegans/dynamic-badges-action@e9a478b16159b4d31420099ba146cdc50f134483 # v1.7.0
      if: ${{ github.ref == 'refs/heads/master' && github.repository_owner == 'crowdsecurity' }}
      with:
        auth: ${{ secrets.GIST_BADGES_SECRET }}
        gistID: ${{ secrets.GIST_BADGES_ID }}
        filename: crowdsec_scenarios_badge.json
        label: Hub Scenarios
        message: ${{ env.SCENARIOS_COV }}
        color: ${{ env.SCENARIO_BADGE_COLOR }}
