name: build-msi (windows)

on:
  release:
    types:
      - prereleased
  push:
    branches:
      - master
      - releases/**
    paths:
      - build/windows/installer/*.wxs
      - .github/workflows/ci-windows-build-msi.yml
  pull_request:
    branches:
      - master
      - releases/**
    paths:
      - build/windows/installer/*.wxs
      - .github/workflows/ci-windows-build-msi.yml

jobs:
  build:
    name: Build
    runs-on: windows-latest

    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0
        submodules: false

    - name: "Set up Go"
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version-file: go.mod

    - name: Build
      run: make windows_installer BUILD_RE2_WASM=1
    - name: Upload MSI
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        path: crowdsec*msi
        name: crowdsec.msi
