name: build-msi (windows)

on:
  release:
    types:
      - prereleased
  push:
    branches:
      - master
      - releases/**
    paths:
      - build/windows/installer/*.wxs
      - .github/workflows/ci-windows-build-msi.yml
  pull_request:
    branches:
      - master
      - releases/**
    paths:
      - build/windows/installer/*.wxs
      - .github/workflows/ci-windows-build-msi.yml

jobs:
  build:
    name: Build
    runs-on: windows-latest

    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0
        submodules: false

    - name: "Set up Go"
      uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
      with:
        go-version-file: go.mod

    - name: Build
      run: make windows_installer BUILD_RE2_WASM=1
    - name: Upload MSI
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        path: crowdsec*msi
        name: crowdsec.msi
