name: Functionnal tests upgrade

on:
  push:
    branches:
      - add_upgrade_tests
      - master
  pull_request:
    branches:
      - add_upgrade_tests
      - master

jobs:
  build:
    name: Install generated release and perform basic tests
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    - name: Build release
      run: BUILD_VERSION=xxx make release
    - name: Install release
      run: |
        cp -r crowdsec-xxx ./scripts/
    - name: run tests
      run: |
        cd scripts
        sudo ./test_wizard_upgrade.sh

