name: Release

on:
  release:
    types:
      - prereleased

permissions:
  # Use write for: gh release upload
  contents: write

jobs:
  build:
    name: Build and upload binary package
    runs-on: ubuntu-latest
    steps:

      - name: Check out code into the Go module directory
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          submodules: false

      - name: "Set up Go"
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod

      - name: Build the binaries
        run: |
          sudo apt -qq -y -o=Dpkg::Use-Pty=0 install build-essential libre2-dev
          make vendor release BUILD_STATIC=1

      - name: Upload to release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          tag_name="${GITHUB_REF##*/}"
          gh release upload "$tag_name" crowdsec-release.tgz vendor.tgz *-vendor.tar.xz
