# .github/workflows/build-docker-image.yml
name: build

on:
  release:
    types:
      - prereleased

permissions:
  # Use write for: hub release edit
  contents: write

jobs:
  build:
    strategy:
      matrix:
        go-version: ["1.21.5"]

    name: Build and upload binary package
    runs-on: ubuntu-latest
    steps:

      - name: Check out code into the Go module directory
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: false

      - name: "Set up Go ${{ matrix.go-version }}"
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}

      - name: Build the binaries
        run: |
          sudo apt -qq -y -o=Dpkg::Use-Pty=0 install build-essential libre2-dev
          make vendor release BUILD_STATIC=1

      - name: Upload to release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          tag_name="${GITHUB_REF##*/}"
          gh release upload "$tag_name" crowdsec-release.tgz vendor.tgz *-vendor.tar.xz
