name: (push-master) Update Docker Hub README

on:
  push:
    branches:
      - master
    paths:
      - 'build/docker/README.md'

jobs:
  update-docker-hub-readme:
    runs-on: ubuntu-latest
    steps:

      -
        name: Check out the repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        if: ${{ github.repository_owner == 'crowdsecurity' }}

      -
        name: Update docker hub README
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5.0.0
        if: ${{ github.repository_owner == 'crowdsecurity' }}
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: crowdsecurity/crowdsec
          short-description: "Crowdsec - An open-source, lightweight agent to detect and respond to bad behaviours."
          readme-filepath: "./build/docker/README.md"
