name: (push-master) Update Docker Hub README

on:
  push:
    branches:
      - master
    paths:
      - 'docker/README.md'

jobs:
  update-docker-hub-readme:
    runs-on: ubuntu-latest
    steps:

      -
        name: Check out the repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
        if: ${{ github.repository_owner == 'crowdsecurity' }}

      -
        name: Update docker hub README
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa
        if: ${{ github.repository_owner == 'crowdsecurity' }}
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: crowdsecurity/crowdsec
          short-description: "Crowdsec - An open-source, lightweight agent to detect and respond to bad behaviours."
          readme-filepath: "./docker/README.md"
